body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0 5%;
  background-color: #b2ebf2;
}

h2{
  text-align: center;
}

.margin{
  margin-bottom: 2.5rem;
}

.gif{
  align-content: center;
  overflow: hidden;
  height: 65%;
}

.loading{
  text-align: center;
  margin: 1rem;
  color: darkgreen;
}

